.voting-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.agreement-bar {
  width: 100%;
  height: 1.5rem;
  border-radius: 1.5rem;
  background-color: $greyborder;
  margin-top: 1rem;
  display: flex;
  overflow: hidden;
  margin-bottom: 0.75rem;

  .bar {
    display: flex;
    align-items: center;
    width: 0%;

    p {
      margin: 0 1.5rem 0 1.5rem;
      color: #fff;
      opacity: 0;
      animation-name: fadeIn;
      animation-delay: 1s;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
    }
  }

  .disagree-bar {
    @include linear-gradient($red, $lightred);
    transition: all 0.6s ease;
  }

  .agree-bar {
    @include linear-gradient($lightgreen, $green);
    transition: all 0.6s ease;
    
    justify-content: flex-end;
  }
}

.statement-voters-container {
  position: absolute;
  width: 100%;
}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  clear: both;
}

.triangle-red {
  border-bottom: 10px solid $red;
  margin-left: 1rem;
}

.triangle-green {
  border-bottom: 10px solid $green;
  float: right;
  margin-right: 1rem;
}

.statement-voters {
  padding: 1rem;
  border-radius: 0.3125rem;
  width: fit-content;
  clear: both;

  p {
    color: #fff;
    margin-bottom: 0;
  }

  p:first-child {
    margin-top: 0;
  }
}

.disagree-voters {
  @include linear-gradient($red, $lightred);
}

.agree-voters {
  @include linear-gradient($lightgreen, $green);
  float: right;
}

.agreement-bar-big {
  height: 3rem;
}

.voting-label {
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: .05rem;
  @include linear-gradient($blue, $lightblue);
}

.agreement-card {
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 0 22px 0 rgba(0,0,0,0.05);

  p {
    font-size: 1.15rem;
    margin: 1rem 0 0 0;
  }
}

.agree-statement {
  font-size: 1.25rem;
  margin: 1.5rem 0;
}

.voting-btn-container {
  display: flex;
  justify-content: space-between;

    .btn {
      padding: 0rem 4rem;
      border-radius: 2rem;
      text-transform: capitalize;
      font-weight: 400;
      color: $grey;
      background-color: #ffffff;
      font-size: 1rem;
      box-shadow: 0 0 22px 0 rgba(0,0,0,0.05);
      transition: all 0.3s ease;
    }

    .btn-green {
      background-color: $green;
      color: #fff !important;
    }

    .btn-red {
      background-color: $red;
      color: #fff !important;
    }
}

.agreement-deadline {
  width: 70%;
  color: $lightgrey;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}