@mixin font-face($font-family, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url("./assets/fonts/#{$file-name}.woff") format("woff");
  }
}