$grey: #333333;
$lightgrey: #999999;
$greyborder: #E6E6E6;
$softgrey: #F2F2F2;
$lightgreen: #28f9b3;
$green: #00DF96;
$lightblue: #427eff;
$blue: #2B63F6;
$yellow: #FFE000;
$lightred: #fe3448;
$red: #FE011A;
