* {
  box-sizing: border-box !important;
}

@import 'mixins';
@import 'variables';
@import 'texts';
@import 'list';
@import 'notice';
@import 'detail';
@import 'news';
@import 'navbar';

hr {
  border-color: $greyborder;
}

.component-title {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}