* {
  box-sizing: border-box !important;
}

@import 'mixins';
@import 'variables';
@import 'texts';
@import 'navbar';
@import 'form';
@import 'list';
@import 'home';
@import 'notice';
@import 'detail';
@import 'news';

hr {
  border-color: $greyborder;
  border-style: solid;
}

.back-button {
  margin-right: 1.5rem;
}

.component-title {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.router-container {
  position: relative;

  > * {
    display: block;
  }
}

.back-title {
  justify-content: flex-start !important;
  align-items: center;
}