<div class="container">
    <div class="component-title back-title">
      <app-back></app-back>
      <h2>Agreement information</h2>
    </div>
    <div class="agreement-card">
      <h1>{{ agreement.title }}</h1>
      <p>{{ agreement.description }}</p>
    </div>
    <p class="agree-statement" *ngIf="agreement.meeting?.active">Do you agree?</p>
    <div class="voting-btn-container" *ngIf="agreement.meeting?.active">
      <button class="btn" (click)="vote(false)" [ngClass]="{'btn-red': disagreeBol}">No</button>
      <button class="btn" (click)="vote(true)" [ngClass]="{'btn-green': agreeBol}">Yes</button>
    </div>
    <p class="agree-statement">Votes</p>
    <div class="agreement-bar agreement-bar-big">
      <div class="disagree-bar bar" [ngStyle]="{'width': disagreeWidth}">
        <p *ngIf="checkIfBigger(disagreeWidth)">{{ agreement.disagree?.length }} votes</p>
      </div>
      <div class="agree-bar bar" [ngStyle]="{'width': agreeWidth}">
        <p *ngIf="checkIfBigger(agreeWidth)">{{ agreement.agree?.length }} votes</p>
      </div>
    </div>
    <p class="agreement-deadline" *ngIf="agreement.meeting?.active">There is <span *ngIf="deadLineTime?.d > 0">{{ deadLineTime?.d }} days</span> <span *ngIf="deadLineTime?.h > 0">{{ deadLineTime?.h }} hours</span> {{ deadLineTime?.m }} min left for voting's clousure</p>
</div>