<div class="notice">
  <div class="notice-text">
    <div class="notice-wrapper">
        <h5>
            ¡Thank u!
        </h5>
        <p class="notice-date">
          14/12/2018
        </p>
        <p class="notice-body">
          Some text that is really really really really really really really really really really really really really really really really really really really really really really really really long
        </p>
    </div>
  </div>
  <div class="notice-bar">
    x
  </div>
</div>