<div class="" id="messages">
    <div *ngFor="let chat of _cs.chats" class="row">
        <div *ngIf="chat.senderId === this.sessionService.user.id"
             class="col s12 right-align">
            <b class="new badge teal name">{{ this.sessionService.user.name }}</b>
            <br>
            <p>{{ chat.body }}</p>
        </div>
        <div *ngIf="chat.senderId !== this.sessionService.user.id"
             class="col s12">
            <b class="new badge red name">{{ chat.userName }}</b>
            <br>
            <p>{{ chat.body }}</p>
        </div>
    </div>
</div>

<input type="text"
       name="msg"
       class="news-input"
       [(ngModel)]="message"
       (keyup.enter)="sendMessage()"
       placeholder="Send message...">
