<nav class="navbar">
  <ul class="navbar-list">

    <li class="navbar-item" routerLinkActive="active">
      <a [routerLink]="['/news']">
        <div class="navbar-icon">
          <img src="https://res.cloudinary.com/plasocloud/image/upload/v1525360566/megaphone.png" alt="">
        </div>
        <span>news</span>
      </a>
    </li>

    <li class="navbar-item" routerLinkActive="active">
      <a [routerLink]="['/home']">
        <div class="navbar-icon">
          <img src="https://res.cloudinary.com/plasocloud/image/upload/v1525360566/house.png" alt="">
        </div>
        <span>home</span>
      </a>
    </li>

    <li class="navbar-item" routerLinkActive="active">
      <a [routerLink]="['/community']">
        <div class="navbar-icon">
          <img src="https://res.cloudinary.com/plasocloud/image/upload/v1525360566/hands.png" alt="">
        </div>
        <span>community</span>
      </a>
    </li>

    <li class="navbar-item" routerLinkActive="active">
      <a [routerLink]="['/neighbors']">
        <div class="navbar-icon">
          <img src="https://res.cloudinary.com/plasocloud/image/upload/v1525360566/building.png" alt="">
        </div>
        <span>neighbors</span>
      </a>
    </li>

    <li class="navbar-item" routerLinkActive="active">
      <a [routerLink]="['/bot']">
        <div class="navbar-icon">
          <img src="https://res.cloudinary.com/plasocloud/image/upload/v1526214712/bot-nav.png" alt="">
        </div>
        <span>bot</span>
      </a>
    </li>
  </ul>
</nav>
