<nav class="navbar">
  <ul class="navbar-list">
    
    <li class="navbar-item" routerLinkActive="active">
      <a [routerLink]="['/news']">
        <span class="navbar-icon">📣</span>
        <span>news</span>
      </a>
    </li>
    
    <li class="navbar-item" routerLinkActive="active">
      <a [routerLink]="['/home']">
        <span class="navbar-icon">🏠</span>
        <span>home</span>
      </a>
    </li>
    
    <li class="navbar-item" routerLinkActive="active">
      <a [routerLink]="['/community']">
        <span class="navbar-icon">🤝</span>
        <span>community</span>
      </a>
    </li>
    
    <li class="navbar-item" routerLinkActive="active">
      <a [routerLink]="['/neighbors']">
        <span class="navbar-icon">🏢</span>
        <span>neighbors</span>
      </a>
    </li>
  </ul>
</nav>