<div class="container">
  <div class="component-title back-title">
    <app-back></app-back>
    <h2>Service information</h2>
  </div>
  <div class="agreement-card service-info">
    <h1>{{ service.title }}</h1>
    <p>{{ service.description }}</p>
    <p class="date"><i class="material-icons">location_on</i> {{ service.address }}</p>
    <p class="date l-margin"><i class="material-icons">email</i> {{ service.email }}</p>
    <p class="date l-margin"><i class="material-icons">phone</i> {{ service.phone }}</p>
  </div>

  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="14">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</div>