<div class="container">
  <div class="component-title">
    <app-back></app-back>
    <i class="material-icons" [routerLink]="['/home', 'profile', user.id, 'edit']" *ngIf="user?.id === currentUser.id">edit</i>
  </div>
  <h1 class="component-title-outside">Your profile</h1>
  <div class="profile-img-container">
    <img [src]="user.avatar" class="circle responsive-img">
  </div>
  <div class="row profile-row">
    <div class="col s6">
      <h5 class="profile-data-title">Name</h5>
      <p class="profile-data-body">{{ user.name }}</p>
    </div>
    <div class="col s6">
      <h5 class="profile-data-title">Surname</h5>
      <p class="profile-data-body">{{ user.surname }}</p>
    </div>
  </div>
  <hr>
  <div class="row profile-row">
    <div class="col s6">
      <h5 class="profile-data-title">Apartment</h5>
      <p class="profile-data-body">{{ user.apt }}</p>
    </div>
    <div class="col s6" *ngIf="user.phone">
      <h5 class="profile-data-title">Phone</h5>
      <p class="profile-data-body">{{ user.phone }}</p>
    </div>
  </div>
  <hr>
  <div class="row profile-row">
    <div class="col s12">
      <h5 class="profile-data-title">Email</h5>
      <p class="profile-data-body">{{ user.email }}</p>
    </div>
  </div>
  <hr>
  <div class="row profile-row profile-latch" *ngIf="user?.id === currentUser.id">
    <div *ngIf="user.paired" class="green-text profile-latch-feedback">
      <i class="material-icons">check</i><p class="green-text"> Your account is paired with Latch!</p>
    </div>
    <div class="col s12" *ngIf="!user.paired">
      <h5 *ngIf="latchVisible === false">Do you have a Latch Account?</h5>
      <button *ngIf="latchVisible === false" class="waves-effect waves-light btn" (click)="toggleLatch()">Pair with Latch</button>
      <form *ngIf="latchVisible === true" class="form" [formGroup]="latchForm" (ngSubmit)="pair(latchForm)" novalidate>
          <div class="row form-row">
            <div class="input-field col s12">
              <input id="latch" type="text" formControlName="code" [(ngModel)]="code" placeholder="Introduce your pairing code">
              <label for="latch" class="active">Latch pair code</label>
              <span
                class="helper-text red-text text-accent-4"
                *ngIf="latchForm.get('code').errors?.required && latchForm.get('code').touched">Required
              </span>
            </div>
          </div>
          <button type="submit" class="waves-effect waves-light btn" [disabled]="!latchForm.valid">Pair</button>
      </form>
    </div>
  </div>
</div>