<div class="container">
  <div class="component-title">
    <app-back></app-back>
  </div>
  <h1 class="component-title-outside">Meetings</h1>
  <ul class="list">
    <li *ngIf="user.role === 'admin'" class="list-item" [routerLink]="['/community', 'meetings', 'new']">
      <span>Create new meeting</span><i class="material-icons">chevron_right</i>
    </li>
    <li class="list-item"><span>Next meeting</span><i class="material-icons">chevron_right</i></li>
    <li class="list-item"><span>Meetings resume</span><i class="material-icons">chevron_right</i></li>
    <li class="list-item" *ngIf="activeMeeting.active" [routerLink]="['/community', 'meetings', 'voting']">
      <span>Voting</span><i class="material-icons">chevron_right</i>
    </li>
  </ul>
</div>
